<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <h1>i love what im doing, come lets do it together</h1>
<ul>
    <% for(let i = 0; i< info.length; i++ ){%>
        <li>
            <span><%= info[i].UserName %></span>
            <span><%= info[i].UserQoutes %></span>
            <span> <%= info[i].likes %></span>
            <i class="fa fa-thumbs-down fa-flip-horizontal"></i>
            <i class="fa fa-thumbs-up"></i>
            <i class="fa fa-trash"></i>
            
        </li>
    <%} %>
</ul>

    <form action="/sendto" method="POST">
        <input type="text" name="name" placeholder="name" required>
        <input type="text" name="qoutes" placeholder="your quotes" required>
        <button type="submit">submit</button>
    </form>

    <script src="js/main.js"></script>
</body>
</html>